* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: rgb(37, 37, 37);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 6%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 10px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(243, 119, 119);
}

header button {
    padding: 9px 25px;
    background-color: rgb(255, 83, 83);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: rgba(243, 119, 119, 0.8);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid .membership-text {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.grid .form {
    padding-top: 40px;
    margin: 0 auto;
    width: 50%;
}

.grid .form .row {
    padding: 4px;
}

.grid .form .row input[type="text"] {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
}

.grid .form .submit {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid .form .submit button {
    padding: 16px;
    margin-top: 10px;
    border: none;
    background-color: rgb(255, 83, 83);
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.grid .form .submit button:hover {
    background-color: rgba(243, 119, 119, 0.8);
}

footer {
    background-color: rgb(255, 83, 83);
    padding: 20px;
    bottom: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .references {
    padding-right: 100px;
}
footer .email {
    padding-left: 100px;
}